[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/MonoGame/MonoGame.Library.BuildScripts.git
